:root {
  --primary-color: #fefefe;
  --secondary-color: #121212;
  --accent-color: #05d;

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

body.dark {
  --primary-color: #121212;
  --secondary-color: #fefefe;
}

body {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-color);
  position: relative;
}

.carousel {
  width: 90%;
  max-width: 400px;
  min-width: 250px;
  overflow: hidden;
}

.carousel__images-container {
  display: flex;
  width: fit-content;
  height: fit-content;

  transition: .5s;
}

.carousel__img {
  width: 400px;
  height: 400px;

  background-size: cover;
  background-position: center;
}

.carousel__control-btns {
  display: flex;
  gap: 2px;
}

.carousel__btn {
  padding: 10px;
  flex-grow: 1;

  color: #fefefe;
  background-color: var(--accent-color);
  border: none;
  font-size: 1.2rem;
}

.carousel__btn:active {
  filter: saturate(2);
  cursor: pointer;
}

.theme {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  width: 40px;
  height: 40px;

  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: 3px solid var(--secondary-color);
  border-radius: 50%;
  cursor: pointer;

  transition: .25s;
}

.theme:active {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

@media (hover: hover) {
  .carousel__btn:hover {
    filter: saturate(2);
    cursor: pointer;
  }

  .theme:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
  }
}