body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;

  font-family: sans-serif;
}

.slide-container {
  margin: 0 auto;
  width: 90vw;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.slide {
  position: relative;

  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  flex: .5;
  border-radius: 70px;

  transition: flex .85s ease-in-out;
}

.slide.active {
  flex: 5;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity .85s .5s;
}

h3 {
  opacity: 0;
  margin: 60px;
  position: absolute;
  bottom: 0;
  left: 0;

  font-size: 2em;
  color: #f9f9f9;

}

#slide1 {
  background-image: url('./slide-1.avif');
}

#slide2 {
  background-image: url('./slide-2.avif');
}

#slide3 {
  background-image: url('./slide-3.avif');
}

#slide4 {
  background-image: url('./slide-4.avif');
}

#slide5 {
  background-image: url('./slide-5.avif');
}