:root {
  --background-main: #242424;
  --text-main: #fff;
  --button-color: #6B818C;
  --button-hover-color: #CC2936;
}

body {
  margin: 0;
  background-color: var(--background-main);
  color: var(--text-main);

  width: 100%;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

  font-size: 1.2rem;
}

.main-container {
  width: 90%;

  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  flex-wrap: wrap;
}

.btn {
  position: relative;

  min-width: 100px;

  margin: 16px 0;
  padding: 20px;
  border: 1px solid #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .5);
  text-align: center;
}

.description {
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
}

#reset {
  margin-top: 40px;

  padding: 1.1rem 1.5rem;
  
  background-color: var(--button-color);
  color: var(--text-main);
  border-radius: 6px;
  border: none;
  outline: none;
  
  font-weight: bold;
  cursor: pointer;

  transition: .25s;
}

#reset:hover {
  background-color: var(--button-hover-color);
}